<%= include('includes/top.tmpl') %>
    <script>
        var staticDomainPath = '<%= pathStatic %>/<%= vocab_dir %>';
    </script>
    <!-- LETS BREAK THE CACHE PLEASE -->
    <div class="main">
    	<div style="width: 100%; clear: both;">
    		<h2>Football Calculator</h2>
	    	<p>How much do you spend following your team. Try our calculator to work out your costs, then share your results with your friends.</p>
	    	<p>It found average ticket prices across English football's top four divisions have fallen by up to 2.4%</p>
    	</div>
		<ul class="nav">
			<li class="nav-item nav-item__team">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Your club</div>
			</li>
			<li class="nav-item nav-item__tickets">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Tickets</div>
			</li>
			<li class="nav-item nav-item__food">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Food and Drink</div>
			</li>
			<li class="nav-item nav-item__programmes">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Programmes</div>
			</li>
			<li class="nav-item nav-item__kit">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Club shirt</div>
			</li>
			<li class="nav-item nav-item__results">
				<div class="nav-item--icon"></div>
				<div class="nav-item--text">Results</div>
			</li>
		</ul>
    	<img class="main--branding" src="<%= pathStatic %>/<%= vocab_dir %>/img/branding-image.png" alt="Branding image" />
    	<div class="wrapper">
    		<div class="team-crest" title="Team crest"></div>
	    	<h2 class="team-header team-name--text__long">Team name</h2>

    		<div class="select-team q-page">
    			<label class="q-page--label" for="user-team"> Choose your club: </label>
    			<input id="user-team" placeholder="Start typing club name" type="text" class="q-page--input q-page--input__100" />
    		</div>

    		<div class="select-ticket q-page">
    			<label class="q-page--label q-page--label__header">What kind of ticket do you buy?</label>
    			<br/>
    			<span class="q-page--radio-button">
    				<input type="radio" checked="checked" id="ticket_season" name="user-ticket" value="season" />
    				<label class="q-page--label" for="ticket_season">Season ticket</label>
    			</span>
    			<span class="q-page--radio-button">
    				<input type="radio" id="ticket_individual" name="user-ticket" value="individual" />
    				<label class="q-page--label" for="ticket_individual">Individual tickets</label>
				</span>
				<span class="q-page--radio-button">
    				<input type="radio" id="ticket_none" name="user-ticket" value="none" />
    				<label class="q-page--label" for="ticket_none">I don't go to games</label>
    			</span>
                <div class="ticket-option ticket-option-season">
                    <label class="q-page--label q-page--label__sub-header" for="season-ticket-cost">
                        Cost of season ticket
                    </label><br/>
                    £ <input id="season-ticket-cost" type="number" class="q-page--input" />
                </div>

                <div class="ticket-option ticket-option-individual" style="display:none;">
                    <label class="q-page--label q-page--label__sub-header" for="individual-ticket-cost">
                        Cost of tickets
                    </label><br/>
                    £ <input id="individual-ticket-cost" type="number" class="q-page--input" /> <br/>

                    <label class="q-page--label q-page--label__sub-header" for="user-game-count">
                        How many games do you go to?
                    </label><br/>
                    <input id="user-game-count" type="number" class="q-page--input" />
                </div>
    		</div>

            <div class="food-price-page q-page">
                <label class="q-page--label q-page--label__header" for="food-price">
                    Cost of food and drink per home game?
                </label><br/>
                £ <input id="food-price" type="number" class="q-page--input" />
            </div>            


    		<div class="programmes-price-page q-page">
    			<label class="q-page--label q-page--label__header" for="programmes-price">
    				How many many programmes do you buy per season?
    			</label><br/>
    			<input id="programmes-count" type="number" class="q-page--input" />
    		</div>

    		<div class="kit-price-page q-page">
    			
    			<label class="q-page--label q-page--label__header" for="kit-price">
    				How many adults shirts do you buy?
    			</label><br/>
    			<input id="adult-shirt-count" type="number" class="q-page--input" />
    		</div>

    		<div class="results-page">
                <div class="results-page--breakdown-wrapper">
        		    <p class="results-page--total">
                        Every season I spend <strong id="result-text-total">£</strong> following <span class="team-name--text">Team name</span>
                    </p>

    	    		<div class="shareToolsHolder" data-share-text="" id="totalShare"></div>

                    <div class="results-breakdown">
                        <div class="breakdown-row">
                            <span class="breakdown-row__desc">Tickets</span>
                            <span id="result-text-tickets" class="breakdown-row__price">£100</span>
                        </div>
                        <div class="breakdown-row">
                            <span class="breakdown-row__desc">Food and drink</span>
                            <span id="result-text-food" class="breakdown-row__price">£100</span>
                        </div>
                        <div class="breakdown-row">
                            <span class="breakdown-row__desc">Programmes</span>
                            <span id="result-text-programme" class="breakdown-row__price">£50</span>
                        </div>
                        <div class="breakdown-row">
                            <span class="breakdown-row__desc">Adult shirts</span>
                            <span id="result-text-kit" class="breakdown-row__price">£50</span>
                        </div>
                    </div>

    	    		<p class="results-page--total">
    	    			Based on last season's results, I paid <strong><span id="result-text-home-goal">X</span> per home goal</strong>
    	    		</p>

                    <div class="shareToolsHolder" data-share-text="" id="myHomeGoalsShare"></div>

                </div>

                <h2 class="compare--chart-header goal-price-graph">Price of a home goal</h2>
                <div class="bar-chart goal-price-graph" id="cost-of-goals-graph"></div>
                <p class="compare--text goal-price-graph">Based on cheapest season ticket price for 2013-14</p>
                <hr class="goal-price-graph"/>

	    		<h2 class="compare--chart-header">Comparative ticket costs</h2>
                <p class="compare--text" id="compare-text--tickets"></p>
	    		<div class="bar-chart" id="ticket-price-graph"></div>
    		</div>

            <p class="stats-fact--text"></p>

    		<div class="pagination">
                <a class="pagination--button pagination--button__restart">Start Again</a>
    			<a class="pagination--button pagination--button__next">Next</a>
    			<a class="pagination--button pagination--button__previous"/>Previous</a>
    		</div>
	    </div>
        <hr/>
    </div>

<%= include('includes/bottom.tmpl') %>