body{
	padding: 10px;
	font: normal 16px Arial;
	color: #404040;
}

.main{
	overflow: hidden;
	padding-bottom: 1000px;
}

.main--branding{
	display: none;
	float: right;
	padding-left: 18px;
	background-color: #FFF;
}

.team-crest{
	float: right;
	display: none;
	padding-left: 8px;
	background-color: #FFF;
	width: 108px;
	height: 108px;
}

.team-header{
	display: block;
	display: none;
	width: 100%;
	padding: 10px;
	background-color: #ebebeb;
	font: bold 18px Arial;
	line-height: 22px;
	color: #555;
}