body{
	padding: 10px;
	font: normal 16px Arial;
	color: #404040;
}

.main{
	overflow: hidden;
	padding-bottom: 1000px;
}

.main--branding{
	display: none;
	float: right;
	padding-left: 18px;
	background-color: #FFF;
}