body{
	padding: 10px;
	font: normal 16px Arial;
	color: #404040;
}

.main{
	overflow: hidden;
	display: none;
}

.main--branding{
	display: none;
	float: right;
	padding-left: 18px;
	background-color: #FFF;
}

.select-team--calc-info__image{
	display: none;
	width: 128px;
	height: 128px;
	margin: 20px 25px 0 0;
	float: left;
}

.select-team--calc-info{
	line-height: 20px;
	color: #666;
	font: normal 16px Arial;
}

.select-team--calc-info__top{
	//padding-top: 30px;
}

.team-crest{
	float: right;
	display: none;
	padding-left: 8px;
	background-color: #FFF;
	background-repeat:no-repeat;
    background-size:108px 108px;
    background-position: 8px 0;
	width: 116px;
	height: 108px;
}

.team-header{
	display: block;
	display: none;
	width: 100%;
	padding: 10px;
	background-color: #ebebeb;
	font: bold 18px Arial;
	line-height: 22px;
	color: #555;
}

hr {
  height:0; 
  border:0; 
  border-top:1px solid #e5e5e5
}