.team-header{
	display: none;
}

.q-page{
	display: none; /* All questions are hidden by default */

	margin-top: 20px;

	.q-page--label{
		clear: both;
		display: inline-block;
		font: normal 16px Arial;
		margin: 0 8px 10px 0;
	}

	.q-page--input{
		clear: both;
		width: 100%;
		border: 1px solid #414141;
		height: 30px;
		padding: 0 6px;
		line-height: 30px;
		color: #414141;
	}

	/* Label with selection on a new line */
	.q-page--label__nl{
		display: block;
		margin-bottom: 10px;
	}

	.q-page--radio-button{
		display: block;
		margin: 5px;
	}

	.q-page--dropdown{
		width: 100%;
		height: 35px;
	}
}

.autocomplete-suggestions { border: 1px solid #999; color: #333; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 8px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #333; color: white}
.autocomplete-group { background: #EBEBEB; padding: 5px; } 


.pagination{
	overflow: hidden;

	.pagination--button{
		padding: 9px 10px 0 10px;
		margin: 10px 0 0 8px;
		height: 38px;
		border-bottom: 2px solid #414141;
		background-color: #f2f2f2;
		font-size: 1.2em;
		cursor: pointer;
		float: right;
	}

	.pagination--button:hover{
		background-color: #DDDDDD;
	}

	.pagination--button__previous{
		display: none;
	}

	.pagination--button__previous:before{
		content: "< ";
	}
	.pagination--button__next:after{
		content: " >";
	}
}