.team-header{
	display: none;
}

.q-page{
	display: none; /* All questions are hidden by default */
	margin-top: 20px;
	margin-right: 116px;


	.q-page--label{
		display: inline;
		font: normal 16px Arial;
	}

	.q-page--input{
		clear: both;
		max-width: 150px;
		width: 70%;
		border: 1px solid #cccccc;
		height: 34px;
		padding: 3px 6px;
		line-height: 18px;
		font: normal 18px Arial;
		color: #414141;
	}

	.q-page--input__100{
		display: inline-block;
		max-width: 100%;
		margin-top: 8px;
		width: 100%;
	}

	.q-page--label__header{
		display: inline;
		clear: both;
		font: bold 18px Arial;
	}

	.q-page--label__sub-header{
		display: inline-block;
		clear: both;
		margin-top: 10px;
		font: bold 16px Arial;
		margin-bottom: 10px;
	}

	.q-page--radio-button{
		display: inline-block;
		margin: 5px;
	}

	.q-page--dropdown{
		width: 100%;
		height: 35px;
	}
}

.q-page.select-team{
	margin-right: 0;

	.select-team--calc-info{
		font-size: 14px;
	}.select-team--calc-info__top{
		padding-top: 30px;
	}
}


.autocomplete-suggestions { border: 1px solid #999; color: #333; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 8px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #333; color: white}
.autocomplete-group { background: #EBEBEB; padding: 5px; } 


.pagination{
	overflow: hidden;
	clear: both;

	.pagination--error{
		margin-top: 23px;
		display: none;
		font: 16px Arial;
		color: red;
		float: left;
	}

	.pagination--button{
		padding: 9px 10px 0 10px;
		margin: 10px 0 0 8px;
		height: 38px;
		border-bottom: 2px solid #414141;
		background-color: #f2f2f2;
		font-size: 1.2em;
		cursor: pointer;
		float: right;
	}

	.pagination--button:hover{
		background-color: #DDDDDD;
	}

	.pagination--button__previous{
		display: none;
	}

	.pagination--button__restart{
		display: none;
	}

	.pagination--button__previous:before{
		content: "< ";
	}
	.pagination--button__next:after{
		content: " >";
	}
}