@include respondMinMax(475px, false){
	.q-page{
		.q-page--label{
			clear: none;
		}

		.q-page--input__100{
			clear: none;
			margin-top: 0;
			max-width: 310px;
		}
	}
}

@include respondMinMax(748px, false){

	.q-page{
		margin-right: 148px;
	}

	.team-crest{
		width: 148px;
		height: 140px;
		background-size: 140px 140px;
	}

	.results-page .results-breakdown .breakdown-row{
		float: left;
		width: 47%;
		margin-right: 3%;
	}

	.nav .nav-item .nav-item--text{
		display: block;
	}
}

@include respondMinMax(930px, false){
	.main--branding{
		display: block;
	}

	.wrapper{
		margin-right: 324px;
	}
}