@include respondMinMax(475px, false){
	.q-page{
		.q-page--label{
			clear: none;
		}

		.q-page--input{
			clear: none;
			max-width: 310px;
		}
	}
}

@include respondMinMax(748px, false){
	.results-page .results-breakdown .breakdown-row{
		float: left;
		width: 47%;
		margin-right: 3%;
	}

	.nav .nav-item .nav-item--text{
		display: block;
	}
}

@include respondMinMax(930px, false){
	.main--branding{
		display: block;
	}

	.wrapper{
		margin-right: 324px;
	}
}